@keyframes barTopAnimation {
  from {
    transform: translate(-50%, 0);
  }
  to {
    transform: translate(-50%, 3px);
  }
}
@keyframes barBottomAnimation {
  from {
    transform: translate(-50%, 0);
  }
  to {
    transform: translate(-50%, -3px);
  }
}
@keyframes barMiddleAnimation {
  from {
    transform: translate(-50%, 0);
  }
  to {
    transform: translate(-70%, 0);
  }
}
@keyframes barTopBackAnimation {
  from {
    transform: translate(-50%, 3px);
  }
  to {
    transform: translate(-50%, 0);
  }
}
@keyframes barBottomBackAnimation {
  from {
    transform: translate(-50%, -3px);
  }
  to {
    transform: translate(-50%, 0);
  }
}
@keyframes barMiddleBackAnimation {
  from {
    transform: translate(-70%, 0);
  }
  to {
    transform: translate(-50%, 0);
  }
}
@keyframes mobileDropdown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes desktopDropdown {
  from {
    transform: translateX(20px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

.nav__burger-btn {
  display: block;
  margin-inline-start: auto;
  padding: 1em;
  cursor: pointer;
  background: none;
  border: none;
}
.nav__burger-btn-box {
  width: 40px;
  height: 40px;
  position: relative;
}
.nav__burger-btn-bar {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  height: 3px;
  background-color: #fff;
}
.nav__burger-btn-bar--top {
  top: 7px;
}
.nav__burger-btn-bar--middle {
  top: 18px;
}
.nav__burger-btn-bar--bottom {
  top: 29px;
}

.nav__burger-btn.openAnimation .nav__burger-btn-bar--top {
  animation: barTopAnimation 0.2s forwards;
}

.nav__burger-btn.openAnimation .nav__burger-btn-bar--bottom {
  animation: barBottomAnimation 0.2s forwards;
}

.nav__burger-btn.openAnimation .nav__burger-btn-bar--middle {
  animation: barMiddleAnimation 0.2s 0.1s forwards;
}

.nav__burger-btn.closeAnimation .nav__burger-btn-bar--top {
  animation: barTopBackAnimation 0.2s 0.1s backwards;
}

.nav__burger-btn.closeAnimation .nav__burger-btn-bar--bottom {
  animation: barBottomBackAnimation 0.2s 0.1s backwards;
}

.nav__burger-btn.closeAnimation .nav__burger-btn-bar--middle {
  animation: barMiddleBackAnimation 0.2s backwards;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #333;
}

.header {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 2em 1em;
  width: 100%;
  background-image: url("../images/hero-img-bg.jpg");
  background-size: cover;
  background-position: center;
  z-index: 0;
}
.header::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: -1;
}
.header__box {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header__box.wrapper {
  margin: 4em auto;
}
.header__img-box {
  position: relative;
  width: 90%;
  margin: 0 auto;
  height: 300px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}
.header__img-box::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.25);
}
.header__img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: bottom;
     object-position: bottom;
  border-radius: 5px;
}
.header__text {
  position: relative;
  margin-block-start: 3em;
}
.header__text-link {
  display: block;
  text-decoration: none;
  color: #fff;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.header__heading {
  text-align: center;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  color: #fff;
  font-size: 2.8rem;
  font-weight: normal;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
}
.header__heading:nth-child(3) {
  font-weight: 600;
  color: #FFD700;
  letter-spacing: 1px;
}
.header__arrows-down {
  display: block;
  margin-block-start: 0.5em;
  width: 60px;
  aspect-ratio: 1;
}

.nav {
  position: sticky;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  z-index: 100;
}
.nav.wrapper {
  max-width: 1300px;
}
.nav__logo-link {
  text-decoration: none;
}
.nav__logo {
  width: 80px;
  height: 80px;
  aspect-ratio: 1;
}
.nav__logo-img {
  width: 100%;
  height: 100%;
}
.nav__links-desktop {
  display: none;
}
.nav__links-mobile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 100%;
  inset: 0;
  z-index: -1;
  transform: translateX(150%);
  list-style-type: none;
  font-family: "Roboto", sans-serif;
  background-color: rgba(0, 0, 0, 0.75);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  transition: transform 0.4s;
}
.nav__links-mobile.active {
  transform: translateX(0);
}
.nav__item {
  position: relative;
}
.nav__item .nav__item-span, .nav__item .nav__item-link {
  position: relative;
  display: block;
  padding: 0.8em;
  font-size: 2.5rem;
  letter-spacing: 2px;
  font-size: 2.5rem;
  letter-spacing: 2px;
  text-decoration: none;
  color: #fff;
  letter-spacing: 2px;
  cursor: pointer;
}
.nav__item .nav__item-span .arrow-down, .nav__item .nav__item-link .arrow-down {
  left: -0.2em;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  font-size: 1.6rem;
  vertical-align: middle;
  transition: transform 0.1s;
}
.nav__item .nav__item-span .arrow-down.active, .nav__item .nav__item-link .arrow-down.active {
  transform: translateY(-50%) rotate(180deg);
}
.nav__dropdown-mobile {
  list-style-type: none;
}
.nav__dropdown-mobile-li {
  text-align: center;
  display: none;
  font-size: 1.4rem;
  padding: 0.8em;
  letter-spacing: 2px;
}
.nav__dropdown-mobile-li.active {
  display: block;
  animation: mobileDropdown 0.2s both;
}
.nav__mobile-dropdown-link {
  text-decoration: none;
  color: #ddd;
  transition: color 0.3s;
}
.nav__mobile-dropdown-link:hover {
  color: #FFD700;
}
.nav__mobile-social-box {
  width: 80%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4em;
  padding: 2.5em 1em;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  border-top: 2px solid #FFD700;
}
.nav__mobile-social-box a {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  font-size: 2.2rem;
}
.nav__mobile-social-box-icon {
  transition: color 0.3s;
}
.nav__mobile-social-box-icon:hover {
  color: #FFD700;
}

@media (576px <= width) {
  .header__img-box {
    width: 80%;
    height: 350px;
  }
  .header__heading {
    font-size: 3.2rem;
  }
}
@media (768px <= width) {
  .nav__links-mobile {
    display: none;
  }
  .nav__links-desktop {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    list-style-type: none;
    color: #fff;
    font-family: "Roboto", sans-serif;
  }
  .nav__logo {
    margin-inline-end: 2em;
  }
  .nav__menu-item {
    display: inline-block;
    position: relative;
    margin: 0 2em;
    padding: 1em;
  }
  .nav__menu-item::before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 80%;
    height: 2px;
    background-color: #FFD700;
    transform: scale(0);
    transform-origin: right;
    transition: transform 0.3s;
  }
  .nav__menu-item:hover::before {
    transform: scale(1);
    transform-origin: left;
  }
  .nav__menu-item:hover .arrow-down {
    transform: translateY(-50%) rotate(180deg);
  }
  .nav__menu-item:hover .nav__dropdown-desktop-li {
    display: block;
    animation: desktopDropdown 0.2s both;
  }
  .nav__menu-item:hover .nav__dropdown-desktop-li:nth-child(2) {
    animation-delay: 0.1s;
  }
  .nav__menu-item:hover .nav__dropdown-desktop-li:nth-child(3) {
    animation-delay: 0.2s;
  }
  .nav__menu-item:hover .nav__dropdown-desktop-li:nth-child(4) {
    animation-delay: 0.3s;
  }
  .nav__menu-span, .nav .nav__menu-item-link {
    font-size: 1.8rem;
    font-weight: 300;
    letter-spacing: 2px;
    text-decoration: none;
    color: #fff;
    transition: color 0.3s;
  }
  .nav__menu-span:hover, .nav .nav__menu-item-link:hover {
    color: #FFD700;
  }
  .nav__menu-span .arrow-down, .nav .nav__menu-item-link .arrow-down {
    left: -0.8em;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    font-size: 1.6rem;
    vertical-align: middle;
    transition: transform 0.1s;
  }
  .nav__dropdown-desktop {
    position: absolute;
    padding: 2.5em 0;
    left: -1em;
    list-style-type: none;
  }
  .nav__dropdown-desktop-li {
    display: none;
    opacity: 0;
    width: 100%;
    font-size: 1.3rem;
    letter-spacing: 2px;
    border-radius: 3px;
    transition: background-color 0.3s;
  }
  .nav__dropdown-desktop-li:hover {
    background-color: rgba(0, 0, 0, 0.7);
  }
  .nav__dropdown-desktop-li:hover .nav__desktop-dropdown-link {
    color: #FFD700;
  }
  .nav__desktop-dropdown-link {
    padding: 1em 0.5em;
    text-decoration: none;
    color: #ddd;
    display: block;
    transition: color 0.3s;
  }
  .nav__burger-btn {
    display: none;
  }
  .header {
    padding: 4em 2em;
  }
  .header__box {
    flex-direction: row;
    justify-content: space-between;
  }
  .header__text {
    margin-block-start: 15em;
    display: flex;
    flex-direction: column;
    order: -1;
    width: 60%;
  }
  .header__img-box {
    position: relative;
    top: 3em;
    width: 40%;
    height: auto;
    align-self: center;
  }
  .header__heading {
    font-size: 3.4rem;
    -moz-text-align-last: left;
         text-align-last: left;
  }
  .header__heading:nth-child(1) {
    position: relative;
  }
  .header__heading:nth-child(1)::before {
    content: "";
    position: absolute;
    left: 0;
    top: -0.5em;
    width: 80px;
    height: 2px;
    background-color: #FFD700;
  }
  .header__heading:nth-child(2) {
    padding-inline-start: 1em;
  }
  .header__heading:nth-child(3) {
    padding-inline-start: 2em;
  }
  .header__text-link {
    align-self: center;
    position: static;
  }
  .header__arrows-down {
    width: 70px;
    height: 70px;
  }
}
@media (992px <= width) {
  .header {
    padding: 4em;
  }
  .header__heading {
    font-size: 4rem;
  }
  .header__heading:nth-child(1)::before {
    width: 90px;
  }
  .header__heading:nth-child(2) {
    padding-inline-start: 1.5em;
  }
  .header__heading:nth-child(3) {
    padding-inline-start: 3em;
  }
  .header__img-box {
    width: 35%;
  }
  .header__text-link {
    margin-inline-start: 10em;
  }
  .header__text {
    margin-block-start: 0;
    display: flex;
    flex-direction: column;
    order: -1;
    align-self: center;
    width: 60%;
  }
  .nav__logo {
    margin-inline-end: 7em;
  }
}
@media (1100px <= width) {
  .header {
    height: 100vh;
  }
  .header__heading {
    font-size: 4.5rem;
  }
  .header__heading:nth-child(1)::before {
    width: 110px;
  }
  .header__arrows-down {
    margin-block-start: 2em;
    width: 80px;
    height: 80px;
  }
  .header__img-box {
    width: 40%;
    max-width: 700px;
  }
  .header__text {
    width: 60%;
    align-items: flex-start;
  }
  .nav__logo {
    margin-inline-end: 10em;
  }
  .nav__dropdown-desktop-li {
    font-size: 1.5rem;
  }
}
@media (1400px <= width) {
  .header__heading {
    font-size: 5rem;
  }
}/*# sourceMappingURL=style.css.map */