
// Opening burger btn

@keyframes barTopAnimation {
    from {
        transform: translate(-50%, 0);
    }
    to {
        transform: translate(-50%, 3px);
    }
}
@keyframes barBottomAnimation {
    from {
        transform: translate(-50%, 0);
    }
    to {
        transform: translate(-50%, -3px);
    }
}
@keyframes barMiddleAnimation {
    from {
        transform: translate(-50%, 0);
    }
    to {
        transform: translate(-70%, 0);
    }
}


// closing burger btn 

@keyframes barTopBackAnimation {
    from {
        transform: translate(-50%, 3px);
    }
    to {
        transform: translate(-50%, 0);
    }
}

@keyframes barBottomBackAnimation {
    from {
        transform: translate(-50%, -3px);
    }
    to {
        transform: translate(-50%, 0);
    }
}

@keyframes barMiddleBackAnimation {
    from {
        transform: translate(-70%, 0);
    }
    to {
        transform: translate(-50%, 0);
    }
}


@keyframes mobileDropdown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes desktopDropdown {
    from {
        transform: translateX(20px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}


@keyframes trackingPath {
    0%, 10%, 20%, 30%, 40%, 50%, 60%, 70%, 80% {
        opacity: 0;
        transform: rotate(-50deg) scale(1);
    }
    90% {
        opacity: .1;
        transform: rotate(-50deg) scale(1.1);
    }
    100% {
        opacity: 0;
        transform: rotate(-50deg) scale(1.1);
    }
}


@keyframes rotationLeft {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(-90deg);
    }
}
@keyframes rotationRight {
    from {
        transform: rotate(-90deg);
    }
    to {
        transform: rotate(0);
    }
}



/* ----------------------------------------------
 * Generated by Animista on 2025-3-21 21:24:9
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation bounce-top
 * ----------------------------------------
 */
 @keyframes bounce-top {
    0% {
      transform: translateY(-15px);
      animation-timing-function: ease-in;
      opacity: 1;
    }
    24% {
      opacity: 1;
    }
    40% {
      transform: translateY(-10px);
      animation-timing-function: ease-in;
    }
    65% {
      transform: translateY(-5px);
      animation-timing-function: ease-in;
    }
    25%,
    55%,
    75%,
    87% {
      transform: translateY(0px);
      animation-timing-function: ease-out;
    }
    100% {
      transform: translateY(0px);
      animation-timing-function: ease-out;
      opacity: 1;
    }
  }
  

  @keyframes arrowUpShowingUp {
    from {
        opacity: 0;
        transform: translateY(1em);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
  }