
@use './_colors' as *;
@use './_animations' as *;


.wrapper {
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
}


.scroll-up-arrow {
    display: none;
    opacity: 0;
    position: fixed;
    bottom: 0.5em;
    right: 0.5em;
    padding: 0.2em .4em;
    font-size: 1.8rem;
    border: 1px solid $accentColor;
    color: $accentColor;
    text-decoration: none;
    background-color: rgba(0, 0, 0, .2);

    &.active {
        display: block;
        animation: arrowUpShowingUp .5s forwards;
    }
}

// BURGER BTN

.nav {

    &__burger-btn {
        display: block;
        margin-inline-start: auto;
        padding: 1em;
        cursor: pointer;
        background: none;
        border: none;
    }
    &__burger-btn-box {
        width: 40px;
        height: 40px;
        position: relative;
    }
    &__burger-btn-bar {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: 90%;
        height: 3px;
        background-color: $pureWhite;

        &--top {
            top: 7px;
        }
        &--middle {
            top: 18px;
        }
        &--bottom {
            top: 29px;
        }
    }

}

.nav__burger-btn.openAnimation .nav__burger-btn-bar--top {
    animation: barTopAnimation .2s forwards;
}
.nav__burger-btn.openAnimation .nav__burger-btn-bar--bottom {
    animation: barBottomAnimation .2s forwards;
}
.nav__burger-btn.openAnimation .nav__burger-btn-bar--middle {
    animation: barMiddleAnimation .2s .1s forwards;
}


.nav__burger-btn.closeAnimation .nav__burger-btn-bar--top {
    animation: barTopBackAnimation .2s .1s backwards;
}
.nav__burger-btn.closeAnimation .nav__burger-btn-bar--bottom {
    animation: barBottomBackAnimation .2s .1s backwards;
}
.nav__burger-btn.closeAnimation .nav__burger-btn-bar--middle {
    animation: barMiddleBackAnimation .2s backwards;
}



@media(1100px <= width) {
    .scroll-up-arrow {
        font-size: 2rem;
        padding: 0.4em .8em;
    }
}